test_projection.py
__pycache__/
plots/
vqe_results/
classical_results.py
vqe_setup.py
constant_gauge_vqe.py
ansatz_diagnosis.py
fgcost.py
vqe_w_save.py
time_diagnosis/pennylane_v_qiskit.py
time_diagnosis/cirq_v_qiskit.py
paper_plots/